/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

/* Body */
body {
    margin: 0;
}

/* TEXT */
div>h4 {
    margin: 0%;
    text-align: center;
    padding-top: 20.5%;
    color: rgb(26, 25, 25);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 50px;
}

/* CONTENT CONTAINERS */
/* Content */
#content {
    background-color: #212529;
}

/*All Containers*/
#resume, #projects, #courses, #contact, #others {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Resume Container */
#resume {
    background-image: url(../img/resume.jpg);
}

/* Columns*/
#resumeCol1of2 {
    background-color: #FFD02B;
    margin-top: 25vh;
    height: 50%;
}

#resumeCol2of2 {
    background-color: white;
}

.row {
    height: 100vh;
}

/* Projects Container */
#projects {
    background-color: orange;
}

/* Courses Container */
#courses {
    background-color: #8CD34D;
}

/* Contact Container */
#contact {
    background-color: #61B1D9;
}

/* Others Container */
#others {
    background-color: #523F86;
}

/* Buttons */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* MEDIA QUERY */
@media(max-width: 766px) {
    #resumeCol1of2 {
        margin-top: 25vh;
        height: 75%;
    }

    div>h4 {
        padding-top: 0%;
        padding-bottom: 10px;
    }
}

/* COMMENTED
#scrollspyHeading1{
    padding-top: 55px;
}

#scrollspyHeading2,#scrollspyHeading3,#scrollspyHeading4,#scrollspyHeading5{
    color: black;
    padding-top: 55px;
} */