/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

/* Body */
body {
    margin: 0;
}

/* TEXT */
div>h1,div>h4,div>p {
    color: rgb(26, 25, 25);
    font-family: 'Be Vietnam Pro', sans-serif;
}

div>h4 {    
    text-align: center;
    padding-top: 17.5vh;
    font-size: 50px;
}

div>h1 {    
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

/* CONTENT CONTAINERS */
/* Content */
#content {
    background-color: #212529;
}

/*All Containers*/
#resume, #projects, #courses, #contact, #others {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row {
    height: 100vh;
}

.headerCol{
    background-color: #FFD02B;
    margin-top: 25vh;
    height: 50vh;
}

.contCol {
    background-color: white;
}

/* Resume Container */
#resume {
    background-image: url(../img/resume.jpg);
}

/* Projects Container */
#projects {
    background-image: url(../img/projects.jpg);
}

/* Courses Container */
#courses {
    background-color: #8CD34D;
}

/* Contact Container */
#contact {
    background-color: #61B1D9;
}

/* Others Container */
#others {
    background-color: #523F86;
}

/* Buttons */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* MEDIA QUERY */
@media(max-width: 766px) {
    .headerCol {
        margin-top: 25vh;
        height: 13.5vh;
    }

    .contCol {
        height: 61.5vh;
    }

    div>h4 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media(max-width: 400px){
    p{
        height: 55vh;
        overflow-y: scroll;
        scrollbar-width: 0px;
    }
}