/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

/* Body */
body {
    background-color: #212529;
}

/* Header */
#header {
    background-color: white;
}

/* TEXT */
div>h1, div>h2, div>h4, div>p {
    color: rgb(26, 25, 25);
    font-family: 'Be Vietnam Pro', sans-serif;
}

div>h4 {
    text-align: center;
    font-size: 50px;
}

div>h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

/* CONTENT CONTAINERS */
/* Content */

/*All Containers*/
#resume, #projects, #courses, #contact, #others {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gralRow {
    height: 100vh;
}

.headerCol {
    background-color: #FFD02B;
    height: 50vh;
}

.headerCol1 {
    background-color: blanchedalmond;
}

.contCol {
    background-color: white;
}

/* Resume Container */
#resume {
    background-image: url(../img/resume.jpg);
}

/* Projects Container */
#projects {
    background-image: url(../img/projects.jpg);
}

/* Courses Container */
#courses {
    background-color: #8CD34D;
}

/* Contact Container */
#contact {
    background-color: #61B1D9;
}

/* Others Container */
#others {
    background-color: #523F86;
}

/* Accordion */
.accordionImage {
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#headingFirstImage {
    background-image: url(../img/labview-test.jpg);
}

#headingSecondImage {
    background-image: url(../img/html-code.jpg);
    background-position: center;
}

#headingThirdImage {
    background-image: url(../img/plc-wiring.jpg);
    background-position: center;
}

/* Buttons */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* Icons */
.emptyCircle {
    color: #D9D9D9;
}


/* MEDIA QUERY */
/* Responsive Medium or Smaller Media */
@media(max-width: 766px) {
    .headerCol {
        margin-top: 50vh;
        height: 50vh;
    }

    .contCol {
        height: 100vh;
    }

    div>h4 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .gralRow {
        height: 200vh;
    }


    .accordionImage {
        height: 20vh;
    }

    #headingSecondImage, #headingThirdImage {
        display: none;
    }

    /* 
@media(max-width: 300px) {
    .headerCol {
        margin-top: 50px;
        height: 50px;
        width: 300px;
    }

    .contCol {
        height: 100px;
        width: 300px;
    }

    div>h4 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 300px;
    }
} */

    @media(max-width: 400px) {
        div>h4 {
            overflow-wrap: break-word;
        }

        .contCol {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 100vh;
            overflow-y: scroll;
            scrollbar-width: 0px;
        }
    }